<div class="site-section bg-light">
    <div class="owl-carousel hero-slide owl-style">
        <div class="intro-section container" style="background-image: url('images/grocery_1.jpg');">

            <div class="row justify-content-center text-center align-items-center">
                <div class="col-md-8">
                    <h1 style="font-size: 30px">Freshmart.</h1>
                    <span class="sub-title">One Stop. One Place. All fresh Products.</span>
                </div>
            </div>
        </div>

        <div class="intro-section container" style="background-image: url('images/grocery_2.jpg');">
            <div class="row justify-content-center text-center align-items-center">
                <div class="col-md-8">
                    <h1 style="font-size: 30px">Welcome</h1>

                    <span class="sub-title">Shop from a range of fresh products.</span>
                </div>
            </div>
        </div>

    </div>

</div>

<section class="ftco-section">

</section>
